## This notebook is a part of submission for peer-reviewed assignment towards the completion of Applied Data Science Capstone course which is a part of IBM Data Science Professional Certification on Coursera.

### We will first import all the necessary libraries.

In [1]:
# Importing the necessary libraries
import pandas as pd # for data visualization

import numpy as np # for vectorized data

import requests # library to handle requests

#! conda install -c conda-forge lxml --yes # uncomment this line if lxml is not installed 
import lxml

print("The required libraries are imported succesfully")

The required libraries are imported succesfully

### Now we will scrap the data from the wikipedia page and save it to a csv file.

In [2]:
# scrapping the data from the wikipedia page
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

html = requests.get(url).text # get the text from the web page using the link

# read the data from html using read_html function of pandas
df_list = pd.read_html(html)

# save the table data into a csv file
df_list[0].to_csv("temp.csv",index=False)

### Now we will read data from csv file into a pandas data frame. And we will rename the column names to avoid any issues with the white space characters.

In [3]:
# read the data from the csv file we created
df = pd.read_csv('temp.csv')

# remove the column names to avoid any problems
df.rename(columns = {'Postal Code':'PostalCode','Borough':'Borough','Neighborhood':'Neighborhood'},inplace=True)

# see the dataframe using head() function
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned                        NaN
1        M2A      Not assigned                        NaN
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Now we will find the indexes of the rows where the borough are not assigned, so we can drop them as they are not useful to us.

In [4]:
# find the indexes of the rows where borough is not assigned and print them
ind_not_assig = df[df['Borough']=='Not assigned'].index
print(ind_not_assig)

Int64Index([  0,   1,   7,  10,  15,  16,  19,  24,  25,  28,  29,  33,  34,
             35,  37,  38,  42,  43,  44,  51,  52,  53,  60,  61,  62,  69,
             70,  71,  78,  79,  87,  88,  96,  97, 101, 105, 106, 110, 115,
            118, 119, 123, 124, 125, 127, 128, 131, 132, 133, 134, 136, 137,
            140, 141, 145, 146, 149, 150, 154, 155, 158, 159, 161, 162, 163,
            164, 166, 167, 170, 171, 172, 173, 174, 175, 176, 177, 179],
           dtype='int64')

In [5]:
# total no. of rows with not assigned borough
print("Total rows with borough = Not assigned: ",len(ind_not_assig))

Total rows with borough = Not assigned:  77

In [6]:
# see the shape of the data frame before dropping the rows 
df.shape

(180, 3)

In [7]:
# drop all the rows where borough is not assigned
df.drop(ind_not_assig,inplace=True)

In [8]:
# reset the index to avoid any issues later
df.reset_index(drop=True,inplace=True)

In [9]:
# print the dataframe to see if rows have been removed
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
# check the shape of the data frame again to confirm that 77 rows with borough not assigned have been removed
df.shape

(103, 3)

In [11]:
# summary of the data
df.describe()

       PostalCode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M4G  North York    Downsview
freq            1          24            4

In [12]:
# check if there is any row present where the value of neighborhood is empty
neigh_empty = df[df['Neighborhood']==''].index
neigh_empty

Int64Index([], dtype='int64')

### So now as no rows exists with borough = Not assigned and null value in the Nieghborhood column, our data cleaning is complete.

In [13]:
# save the clean data frame to a csv file
df.to_csv("clean_data.csv",index=False)

In [14]:
# see the shape of the data frame
df.shape

(103, 3)