## This notebook is a part of submission for peer-reviewed assignment towards the completion of Applied Data Science Capstone course which is a part of IBM Data Science Professional Certification on Coursera.

### We will first import all the necessary libraries.

In [1]:
# Importing the necessary libraries

import pandas as pd # for data visualizaion

### As the geocoder package is very unreliable, I have used the csv file provided by the instructor for the completion of this module as mentioned.

In [2]:
# Download the dataset of geospatial coordinates from the server
!wget -q -O 'Geospatial_Coordinates.csv' https://cocl.us/Geospatial_data

In [3]:
df_clean = pd.read_csv('clean_data.csv')
df_coords = pd.read_csv('Geospatial_Coordinates.csv')

In [4]:
df_clean.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Check the size of both the data frames to confirm they both contain the same number of rows

In [6]:
df_clean.shape

(103, 3)

In [7]:
df_coords.shape

(103, 3)

### Sort both the data frames based on common column i.e. Postal Code, so it will be easy for us to merge them later.

In [8]:
# sorting the data frames
df_clean = df_clean.sort_values(by=['PostalCode'])
df_coords = df_coords.sort_values(by=['Postal Code'])

In [9]:
df_clean.head()

   PostalCode      Borough                            Neighborhood
6         M1B  Scarborough                          Malvern, Rouge
12        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
18        M1E  Scarborough       Guildwood, Morningside, West Hill
22        M1G  Scarborough                                  Woburn
26        M1H  Scarborough                               Cedarbrae

In [10]:
df_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
# reset the index of both data frames after sorting to avoid any issues while merging
df_clean.reset_index(drop=True,inplace=True)
df_coords.reset_index(drop=True,inplace=True)

### merge df_clean along with latitude and longitude columns from df_coords. We do not merge postal code column as it is already available in df_clean.

In [12]:
# merge both the dataframes by columns
merged_df = pd.concat([df_clean,df_coords[['Latitude','Longitude']]],axis=1)

In [13]:
# see the new merged data frame
merged_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Save the data to a csv file

In [14]:
merged_df.to_csv("Merged_Data.csv",index=False)

### Create the dataframe as mentioned

In [15]:
# create a new test dataframe

column_names = ["PostalCode", "Borough", "Neighborhood","Latitude","Longitude"]
new_df = pd.DataFrame(columns=column_names)

new_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in new_list:
    new_df = new_df.append(merged_df[merged_df["PostalCode"]==postcode], ignore_index=True)
    
new_df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har...",43.628947,-79.394420
10,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
11,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636